@import "function";

// RESETS
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

button {
  cursor: pointer;
  border: none;
}

// /* ####### */

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.front {
  background-image: url(./images/bg-card-front.png);
}
// =================
// thank you state
.thanks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: toRem(20);
}

.icon-complete {
  width: toRem(80);
  height: toRem(80);
  margin-bottom: toRem(35);
}

.thanks h2 {
  font-weight: 500;
  font-size: toRem(28);
  line-height: toRem(36);
  text-align: center;
  letter-spacing: toRem(3.42222);
  color: #21092f;
  margin-bottom: toRem(16);
}

.thanks p {
  font-weight: 500;
  font-size: toRem(18);
  line-height: toRem(23);
  text-align: center;
  color: #8f8694;
}

.continue {
  margin-top: toRem(48);
  width: 100%;
  background: #21092f;
  border-radius: toRem(8);
  width: toRem(381);
  height: toRem(53);
  color: white;
  margin-top: toRem(13);
  cursor: pointer;
}



// ========error message
.field-container {
  position: relative;
}

.error,
.number-error,
.date-error,
.cvc-error {
  position: absolute;
  left: 0;
  bottom: toRem(-22);
  font-weight: 500;
  font-size: toRem(12);
  color: #ff5050;
}

.show {
  display: block;
}

/*##### for-phone-only ##########*/
@media (max-width: 599px) {
  body {
    background: #ffffff;
    background-image: url(./images/bg-main-mobile.png);
    background-repeat: no-repeat;
  }

  main {
    margin-top: toRem(32);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .cards-container {
    width: toRem(343);
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 39px 60px rgba(0, 0, 0, 0.142481));
    position: relative;
    margin-bottom: toRem(48);
    height: toRem(281);
  }

  .card {
    width: 90%;
    border-radius: toRem(10);
  }

  .front {
    background-image: url(./images/bg-card-front.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: toRem(17) toRem(15) toRem(20) toRem(19);
    z-index: 1;
    position: absolute;
    bottom: 0;
  }

  .logo-container {
    width: toRem(54);
    margin-bottom: toRem(37);
  }

  .zeros {
    font-weight: 500;
    font-size: toRem(18);
    letter-spacing: toRem(3.42222);
    color: white;
    margin-bottom: toRem(17);
  }

  .name-and-date {
    display: flex;
    justify-content: space-between;
  }

  .name {
    font-weight: 500;
    font-size: toRem(9);
    line-height: toRem(18);
    letter-spacing: toRem(2);
    text-transform: uppercase;
    color: #ffffff;
  }

  .name-and-date p {
    font-weight: 500;
    font-size: toRem(9);
    line-height: toRem(18);
    letter-spacing: toRem(2);
    text-transform: uppercase;
    color: #ffffff;
  }

  .back {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(168.73deg, #ffffff 5%, #d2d3d9 91.69%);
    border-radius: toRem(10);
    padding-top: toRem(14);
    padding-bottom: toRem(11);
    position: absolute;
    top: 0;
    right: 0;
  }

  .black-rectangle {
    width: 100%;
    height: toRem(54);
    background: #2f2f2f;
    margin-bottom: toRem(15);
  }

  .grey-rectangle {
    width: toRem(230);
    padding: toRem(9);
    padding-right: toRem(10);
    background: #adb5be;
    border-radius: toRem(4);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
    font-size: toRem(14);
    line-height: toRem(18);
    text-align: right;
    letter-spacing: toRem(2);
    color: #ffffff;
    margin-bottom: toRem(11);
  }

  .pattern {
    width: toRem(186);
    height: toRem(26);
  }

  // ====================

  ::placeholder {
    font-weight: 500;
    font-size: toRem(12);
    line-height: toRem(23);
    color: #21092f;
    opacity: 0.25;
  }

  #confirm {
    background: #21092f;
    border-radius: toRem(8);
    width: 100%;
    height: toRem(53);
    color: white;
    margin-top: toRem(28);
    cursor: pointer;
  }

  .form-container .field-container:first-of-type {
    grid-area: name;
  }

  .form-container .field-container:nth-of-type(2) {
    grid-area: number;
  }

  .form-container .field-container:nth-of-type(3) {
    grid-area: expiration;
  }

  .form-container .field-container:nth-of-type(4) {
    grid-area: security;
  }

  #confirm {
    grid-area: confirm;
  }

  .form-container {
    display: grid;
    grid-row-gap: toRem(20);
    grid-template-areas:
      "name name"
      "number number"
      "expiration security"
      "confirm confirm";
    max-width: toRem(400);
    padding: toRem(20);
    color: #707070;
  }

  label {
    padding-bottom: toRem(9);
    font-size: toRem(12);
    line-height: toRem(15);
    letter-spacing: toRem(2);
    text-transform: uppercase;
    color: #21092f;
  }

  input {
    margin-top: toRem(3);
    padding-left: toRem(16);
    padding-top: toRem(11);
    padding-bottom: toRem(11);
    font-weight: 500;
    font-size: toRem(18);
    line-height: toRem(23);
    color: #21092f;
    width: 100%;
    border: 1px solid #dfdee0;
    border-radius: toRem(8);
  }

  input:focus {
    border-color: linear-gradient(
      180deg,
      hsla(249, 99%, 64%, 1),
      hsla(278, 94%, 30%, 1)
    );
    outline: none;
  }

  .month,
  .year {
    width: 40%;
  }

  .month {
    margin-right: toRem(10);
  }

  .continue {
    margin-top: toRem(48);
    width: 90%;
    background: #21092f;
    border-radius: toRem(8);
    height: toRem(53);
    color: white;
    margin-top: toRem(13);
    cursor: pointer;
  }
}

/*############ for-tablet-portrait-up ##############*/
@media (min-width: 600px) {
  body {
    background: #ffffff;
    background-image: url(./images/bg-main-desktop.png);
    background-repeat: no-repeat;
  }

  main {
    width: 84%;
    max-width: toRem(1049);
    height: toRem(527);
    margin-top: toRem(127);
    margin-left: toRem(164);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cards-container {
    width: toRem(541);
    display: grid;
    grid-template-columns: 1fr;
    gap: toRem(37);
    filter: drop-shadow(0px 39px 60px rgba(0, 0, 0, 0.142481));
  }

  .card {
    width: 85%;
    border-radius: toRem(10);
  }

  .front {
    background-image: url(./images/bg-card-front.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: toRem(28) toRem(33) toRem(26.5) toRem(32);
  }

  .logo-container {
    width: toRem(48);
    margin-bottom: toRem(64);
  }

  .zeros {
    font-weight: 500;
    font-size: toRem(28);
    letter-spacing: toRem(3.42222);
    color: white;
    margin-bottom: toRem(25);
  }

  .name-and-date {
    display: flex;
    justify-content: space-between;
  }

  .name {
    font-weight: 500;
    font-size: toRem(14);
    line-height: toRem(18);
    letter-spacing: toRem(2);
    text-transform: uppercase;
    color: #ffffff;
  }

  .name-and-date p {
    font-weight: 500;
    font-size: toRem(14);
    line-height: toRem(18);
    letter-spacing: toRem(2);
    text-transform: uppercase;
    color: #ffffff;
  }

  .back {
    align-self: end;
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(168.73deg, #ffffff 5%, #d2d3d9 91.69%);
    border-radius: toRem(10);
    padding-top: toRem(23);
    padding-bottom: toRem(47);
  }

  .black-rectangle {
    width: 100%;
    height: toRem(54);
    background: #2f2f2f;
    margin-bottom: toRem(24);
  }

  .grey-rectangle {
    width: toRem(361);
    height: toRem(38);
    background: #adb5be;
    border-radius: toRem(4);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
    font-size: toRem(14);
    line-height: toRem(18);
    text-align: right;
    letter-spacing: toRem(2);
    color: #ffffff;
    margin-bottom: toRem(33);
    padding-right: toRem(10);
  }

  .pattern {
    width: toRem(186);
    height: toRem(26);
  }

  // ====================

  ::placeholder {
    font-weight: 500;
    font-size: toRem(18);
    line-height: toRem(23);
    color: #21092f;
    opacity: 0.25;
  }

  #confirm {
    background: #21092f;
    border-radius: toRem(8);
    width: toRem(381);
    height: toRem(53);
    color: white;
    margin-top: toRem(13);
    cursor: pointer;
  }

  .form-container .field-container:first-of-type {
    grid-area: name;
  }

  .form-container .field-container:nth-of-type(2) {
    grid-area: number;
  }

  .form-container .field-container:nth-of-type(3) {
    grid-area: expiration;
  }

  .form-container .field-container:nth-of-type(4) {
    grid-area: security;
  }

  #confirm {
    grid-area: confirm;
  }

  .form-container {
    display: grid;
    grid-row-gap: toRem(26);
    grid-template-areas:
      "name name"
      "number number"
      "expiration security"
      "confirm confirm";
    max-width: toRem(400);
    padding: toRem(20);
    color: #707070;
  }

  label {
    padding-bottom: toRem(9);
    font-size: toRem(12);
    line-height: toRem(15);
    letter-spacing: toRem(2);
    text-transform: uppercase;
    color: #21092f;
  }

  input {
    margin-top: toRem(3);
    padding-left: toRem(16);
    padding-top: toRem(11);
    padding-bottom: toRem(11);
    font-weight: 500;
    font-size: toRem(18);
    line-height: toRem(23);
    color: #21092f;
    width: 100%;
    border: 1px solid #dfdee0;
    border-radius: toRem(8);
  }

  input:focus {
    outline: none;
    border: 1px solid hsla(249, 99%, 64%, 1);
    border-top: 1px solid hsla(278, 94%, 30%, 1);
    border-left: 1px solid hsla(278, 94%, 30%, 1);
  }

  .month,
  .year {
    width: 40%;
  }

  .month {
    margin-right: toRem(10);
  }

  .thanks {
    
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .thanks p {
    margin-bottom: toRem(30);
  }

  

  .hide {
    display: none;
  }
}

.hide {
  display: none;
}

